.midWrapper {
	display: grid;
	align-items: center;
	grid-template-columns: auto max-content;
	background-color: var(--secondaryBackgroundColor);
}

.imgCambio {
	img {
		margin: 2rem 0;
		width: 80vh;
		height: 60vh;
		object-fit: cover;
	}
}
