.cotizacionesWrapper {
	padding: 1rem;
	margin: 1rem 5rem;
	border: solid gray 1px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 1rem;
	font-size: 1.1rem;
	background: var(--backgroundPrimaryColor);
	opacity: 0.8;
	transition: opacity 150ms ease-in;

	&:hover {
		opacity: 1;
	}
}

table {
	border-collapse: collapse;
	text-align: center;

	td,
	th {
		padding: 1.5rem;
	}

	tr {
		border-bottom: solid 1px grey;
		transition: background-color 100ms ease-in-out;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background: #cccccc22;
		}
	}
}
