.headerWrapper {
	font-size: 1.2rem;
}

.logo {
	transform: translateX(-100%);
	transform: scale(0.7);
}

.navigation {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	margin-bottom: 5px;
	background-color: var(--backgroundPrimaryColor);

	ul {
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	li {
		margin: 5px;
		border-radius: 5px;
		padding: 10px 30px;
		cursor: pointer;
		transition: background-color 100ms ease-in-out;

		&:hover {
			background-color: var(--backgroundAccentColor);
		}
	}
	a {
		text-decoration: none;
		color: white;
	}
}
