.footerWrapper {
	font-size: 1rem;
	line-height: 1.4rem;
	padding: 0 5rem 1rem;
	background-color: var(--backgroundPrimaryColor);
	display: flex;
	flex-flow: column;
	justify-content: center;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;

	p {
		margin-top: 1rem;
	}
}

.footerBold {
	font-weight: 700;
}

.footerMiddleDiv {
	font-size: 1.1rem;
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	line-height: 1.4rem;
}

@media only screen and (max-width: 800px) {
	.footerWrapper {
		padding: 0 1rem 1rem;
	}
}
