@import "../../assets/styles/mixins.scss";

.documentacionWrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondaryBackgroundColor);

  h1 {
    padding: 0 0 3rem;
  }
}

.documents {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  ul {
    list-style: none;

    li {
      margin-bottom: 1rem;
    }
  }

  a {
    color: white;
  }
}

.inputFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    @include buttonStyle(transparent, rgba(255, 255, 255, 0.1));
    border: white solid 1px;
  }

  p {
    font-weight: 300;
    font-size: 1rem;
  }

  button {
    @include buttonStyle(#032e74, #0550c8);
  }
}

input[type="file"] {
  display: none;
}
